<table class="table" data-controller="users">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Surename</th>
    <th scope="col">SSN</th>
  </tr>
  </thead>
  <tbody data-target="users.loadUsers">
  </tbody>
  <div id="userDetails"class="modal-body"></div>
</table>