<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Surename</th>
    <th scope="col">SSN</th>
  </tr>
  </thead>
  <tbody data-controller="users" data-users-target="loadUsers">
  </tbody>
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">EDIT</h4>
        </div>
        <div class="modal-body">
          <p><input type="text" class="input-sm" id="txtfname"/></p>
          <p><input type="text" class="input-sm" id="txtlname"/></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</table>